/* Ogólne style strony */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff0f5;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ff69b4; /* Kolor nagłówka */
    padding: 40px 0; /* Zwiększa odstęp w pionie */
    margin-bottom: 30px; /* Dodaje przerwę pod nagłówkiem */
}

header h1 {
    margin: 0;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.gallery img {
    width: 200px;
    height: 266.66px;
    margin: 10px;
    border-radius: 10px;
}

/* Kalendarz */
.calendar .date {
    font-size: 2em;
    color: #ff1493;
}

.heart {
    font-size: 2em;
    color: red;
}

#timer {
    font-size: 1.5em;
    margin-top: 20px;
}

/* Gra */
#hearts-game button {
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    margin: 5px;
}

/* Sekcja Kocham Cię */
#love-message {
    background-color: #ff69b4; /* Kolor tła sekcji */
    color: white;
    padding: 20px;
    margin-top: 50px;
}

/* Stopka */
footer {
    background-color: #ff69b4; /* Kolor stopki dopasowany do nagłówka */
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
